:root {
  --primary: red;
  --secondary: rgb(201, 12, 12);
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Bagian Atas */

body>header {
  width: 100vw;
  color: white;
  flex-wrap: wrap;
  gap: 10px;
  position: fixed;
  z-index: 7;
  top: 0;
}

.nav {
  width: 100%;
  height: 80px;
  background: var(--secondary);
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  z-index: 1;
}

.logo {
  margin-right: auto;
  margin-left: 25px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.logo img {
  width: 75px;
}

.logo:hover {
  color: yellow;
  transform: rotate(2deg);
}

nav ul {
  display: flex;
}

li {
  list-style-type: none;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

li:hover {
  color: white;
  transform: rotate(2deg);
}

li>a {
  color: rgb(228, 228, 228);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

li>a:hover {
  color: white;
}

/* animation navbar */
li::after {
  content: '  ';
  width: 0%;
  height: 2px;
  margin-top: 5px;
  background-color: white;
  transition: all 0.3s ease;
}

li:hover::after {
  content: '  ';
  width: 100%;
  height: 2px;
  background-color: white;
}

a {
  color: rgb(228, 228, 228);
  text-decoration: none;
}

/* Hamburger Menu */
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.tombol-btn {
  margin-right: 20px;
  font-size: 20px;
  padding: 5px 10px;
  background: none;
  border: 1px solid #fff;
  font-weight: 600;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

.tombol-btn:hover {
  border-radius: 5px;
  border: 1px solid white;
  background: white;
  color: var(--primary);
}

.tombol-btn:active {
  transform: scale(0.95);
}

/* Bagian Isi */
.container {
  width: 100%;
  margin: 50px auto;
  padding: 50px 0;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.deskripsi {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}

.img-logo {
  max-width: 90%;
  height: auto;
  padding: 10px;
}

.tentang {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--secondary);
  color: white;
  padding: 20px;
  margin-top: 23px;
}

.margin {
  margin-top: 15px;
}

.button-bawah {
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  border: 1px solid white;
  background: white;
  color: var(--primary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

.button-bawah:hover {
  transform: scale(1.05);
}

.button-bawah:active {
  transform: scale(1);
}

.container-2 {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.card-item {
  height: 300px;
  background: var(--secondary);
  color: white;
  padding: 20px;
  flex-basis: 25%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  transition: all 0.3s ease;
}

.card-item:hover {
  transform: translateY(-8px);
}

.card-item p {
  word-wrap: break-word;
}

.card-title {
  font-weight: bold;
}

.footer {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background: var(--secondary);
  color: white;
  padding: 20px;
  margin-top: 40px;
}

.footer-right ul {
  display: flex;
}

.onload-screen {
  height: 100%;
  max-height: 100%;
  display: flex;
  position: fixed;
  color: white;
  font-size: 26px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  animation-delay: 0s;
  animation: screenSlider 5s ease-in-out;
  margin: 0;
}

/* .layer {
  width: 100%;
  height: 100vh;
  animation-delay: 0s;
  animation: onload 5s ease-in-out;
} */

/* .test {
  color: white;
} */
@keyframes screenSlider {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 100;
    transform: translateX(0%);
    background: var(--secondary);
  }

  50% {
    opacity: 100;
  }

  60% {
    transform: translateX(0%);
    background: var(--secondary);
  }

  80% {
    transform: translateX(50%);
    background: var(--secondary);
  }

  100% {
    transform: translateX(100%);
    background: var(--secondary);
  }
}

/* .layer-mid {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.btn-gotop {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  bottom: 80px;
  right: 30px;
  z-index: 99;
  font-size: 30px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  background: var(--secondary);
  padding: 15px;
  border-radius: 4px;
  animation: UpandDown 2s linear infinite;
  transition: 0.2s ease-in-out;
  border: 1px #fff solid ;
}

@keyframes UpandDown {
  0% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(5px);
  }
}

@media screen and (max-width: 700px) {

  /*Styling Navbar*/

  .nav-menu {
    display: flex;
    align-items: center;
    position: fixed;
    top: 4.9em;
    opacity: 0;
    height: 0%;
    flex-direction: column;
    background-color: var(--secondary);
    width: 100%;
    text-align: center;
    transition: all 0.5s ease-in-out;
    z-index: 1;
  }

  .nav-menu > .nav-list,
  .nav-menu > a.tombol-btn  {
    visibility: hidden;
  }

  .nav-menu.active {
    opacity: 1;
    visibility: visible;
    background-color: var(--secondary);
    height: 40%;
  }
  .nav-menu.active > .nav-list {
    visibility: visible;
    width: 300px;
  }
  .nav-item {
    margin: 2.5rem 0;
  }

  .nav-menu.active > a.tombol-btn {
    visibility: visible;
    margin: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    margin-right: 2em;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* animation responsive navbar */
  li::after {
    content: '  ';
    width: 0%;
    height: 2px;
    margin-top: 5px;
    background-color: white;
    transition: all 0.3s ease;
  }

  li:hover::after {
    content: '  ';
    width: 25%;
    height: 2px;
    background-color: white;
  }

  .nav-list:hover {
    color: white;
    transform: rotate(0deg);
  }

}

@media screen and (max-width: 850px){
  .card {
    flex-direction: column;
  }

  .card-item {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  /*Styling Navbar*/

  /* .nav-menu {
    display: flex;
    align-items: center;
    position: fixed;
    top: 4.9em;
    opacity: 0;
    height: 0%;
    right: 0;
    flex-direction: column;
    background-color: rgb(201, 12, 12);
    width: 100%;
    text-align: center;
    transition: all 0.5s ease-in-out;
    padding: 1rem;
    z-index: 1;
  } */

  .nav-list {
    width: 300px;
  }

  /* .nav-menu.active {
    background-color: rgb(167, 9, 9);
    opacity: 1;
    height: 40%;
  } */

  .nav-item {
    margin: 2.5rem 0;
  }

  .tombol-btn {
    margin: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    margin: 2em;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* animation responsive navbar */
  li::after {
    content: '  ';
    width: 0%;
    height: 2px;
    margin-top: 5px;
    background-color: white;
    transition: all 0.3s ease;
  }

  li:hover::after {
    content: '  ';
    width: 25%;
    height: 2px;
    background-color: white;
  }

  .nav-list:hover {
    color: white;
    transform: rotate(0deg);
  }

  /*Styling card*/
  .card {
    flex-direction: column;
  }

  .card-item {
    width: 100%;
  }

  .footer {
    flex-direction: column;
  }
}
