*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Bagian Atas */

body > header {
  background: rgb(201, 12, 12);
  width: 100%;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: fixed;
  z-index: 7;
  top: 0;
}

.logo {
  margin-right: auto;
  margin-left: 25px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.logo img {
  width: 75px;
}

.logo:hover {
  color: yellow;
  transform: rotate(2deg);
}

nav ul {
  display: flex;
  padding: 5px;
}

li {
  list-style-type: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

li:hover {
  color: white;
  transform: rotate(2deg);
}

li > a {
  color: rgb(228, 228, 228);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

li > a:hover {
  color: white;
}

/* animation navbar */
li::after {
  content: '  ';
  width: 0%;
  height: 2px;
  margin-top: 5px;
  background-color: white;
  transition: all 0.3s ease;
}

li:hover::after {
  content: '  ';
  width: 100%;
  height: 2px;
  background-color: white;
}

a {
  color: rgb(228, 228, 228);
  text-decoration: none;
}

.tombol-btn {
  margin-right: 20px;
  font-size: 20px;
  padding: 5px 10px;
  background: none;
  border: 1px solid #fff;
  font-weight: 600;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

.tombol-btn:hover {
  border-radius: 5px;
  border: 1px solid white;
  background: white;
  color: red;
}

.tombol-btn:active {
  transform: scale(0.95);
}

/* Bagian Isi */
.container {
  width: 100%;
  margin: 50px auto;
  padding: 50px 0;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.deskripsi {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}

.img-logo {
  max-width: 90%;
  height: auto;
  padding: 10px;
}

.tentang {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(201, 12, 12);
  color: white;
  padding: 20px;
  margin-top: 23px;
}

.margin {
  margin-top: 15px;
}

.button-bawah {
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  border: 1px solid white;
  background: white;
  color: red;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

.button-bawah:hover {
  transform: scale(1.05);
}

.button-bawah:active {
  transform: scale(1);
}

.container-2 {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.card-item {
  height: 300px;
  background: rgb(201, 12, 12);
  color: white;
  padding: 20px;
  flex-basis: 25%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  transition: all 0.3s ease;
}
.card-item:hover {
  transform: translateY(-8px);
}

.card-item p {
  word-wrap: break-word;
}

.card-title {
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .card {
    flex-direction: column;
  }

  .card-item {
    width: 100%;
  }
}

footer {
  flex-direction: row !important;
  justify-content: space-around !important;
  padding: 10px !important;
  margin-top: 40px;
}

.footer-right ul {
  display: flex;
}
