*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
}

/* Bagian Atas */

body > header {
  width: 100vw;
  color: white;
  flex-wrap: wrap;
  gap: 10px;
  position: fixed;
  z-index: 7;
  top: 0;
}
.nav {
  width: 100%;
  height: 80px;
  background: rgb(201, 12, 12);
  display: flex;
  align-items: center;
  z-index: 1000;
}

.logo {
  margin-right: auto;
  margin-left: 25px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.logo img {
  width: 75px;
}

.logo:hover {
  color: yellow;
  transform: rotate(2deg);
}

nav ul {
  display: flex;
  padding: 5px;
}

li {
  list-style-type: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

li:hover {
  color: white;
  transform: rotate(2deg);
}

li > a {
  color: rgb(228, 228, 228);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

li > a:hover {
  color: white;
}

/* animation navbar */
li::after {
  content: '  ';
  width: 0%;
  height: 2px;
  margin-top: 5px;
  background-color: white;
  transition: all 0.3s ease;
}

li:hover::after {
  content: '  ';
  width: 100%;
  height: 2px;
  background-color: white;
}

a {
  color: rgb(228, 228, 228);
  text-decoration: none;
}

/* Hamburger Menu */
.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.tombol-btn {
  margin-right: 20px;
  font-size: 20px;
  padding: 5px 10px;
  background: none;
  border: 1px solid #fff;
  font-weight: 600;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

.tombol-btn:hover {
  border-radius: 5px;
  border: 1px solid white;
  background: white;
  color: red;
}

.tombol-btn:active {
  transform: scale(0.95);
}

/* Bagian Isi */
.container {
  width: 100%;
  margin: 50px auto;
  padding: 50px 0;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.deskripsi {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}

.img-logo {
  max-width: 90%;
  height: auto;
  padding: 10px;
}

.tentang {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(201, 12, 12);
  color: white;
  padding: 20px;
  margin-top: 23px;
}

.margin {
  margin-top: 15px;
}

.button-bawah {
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  border: 1px solid white;
  background: white;
  color: red;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

.button-bawah:hover {
  transform: scale(1.05);
}

.button-bawah:active {
  transform: scale(1);
}

.container-2 {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.card-item {
  height: 300px;
  background: rgb(201, 12, 12);
  color: white;
  padding: 20px;
  flex-basis: 25%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  transition: all 0.3s ease;
}
.card-item:hover {
  transform: translateY(-8px);
}

.card-item p {
  word-wrap: break-word;
}

.card-title {
  font-weight: bold;
}
.footer {
  position: absolute;
  bottom: 100%vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(201, 12, 12);
  color: white;
  padding: 20px;
}

footer {
  flex-direction: row !important;
  justify-content: space-around !important;
  padding: 10px !important;
  margin-top: 40px;
}

.footer-right ul {
  display: flex;
}
.layer{
  width: 100%;
  height: 100vh;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-duration: 8s;
  animation-name: transisiManual;
 

}
.test{
  color: white
  
}
@keyframes transisiManual {
  0% {
    transform: translateX(-100%);
    background: rgb(201, 12, 12);
  
  }
  25% {
    transform: translateX(0);
    background: rgb(201, 12, 12);

  }
  50%{
      transform: translateX(100%);
      background: rgb(201, 12, 12);
    };
    75%{
     
        transform: translateX(50%);
        background: rgb(201, 12, 12);
    }
    80%{
      transform: translateX(0%);
      background: rgb(201, 12, 12);
    }
  100%{
    transform: translateX(-100%);
    background: rgb(201, 12, 12);
  }
 
} 
.layer-mid{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
}
.btn-gotop{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 30px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  background: rgb(201, 12, 12);
  padding: 15px;
  border-radius: 4px;
  animation: UpandDown 2s linear infinite;
  transition: .2s ease-in-out;

}
@keyframes UpandDown {
  0%{
    transform: translateY(5px);
  }
  50%{
    transform: translateY(-5px);
  }
  100%{
    transform: translateY(5px);
  }
}
@media screen and (max-width: 700px) {
  /*Styling Navbar*/
  .nav {
    display: flex;
    width: 100vw;
  }
  .nav-menu {
    display: flex;
    align-items: center;
    position: fixed;
    top: -100%;
    right: 0;
    flex-direction: column;
    background-color: rgb(167, 9, 9);
    width: 100%;
    text-align: center;
    transition: all 0.5s ease-in-out;
    z-index: -10;
    padding: 1rem;
  }
  .nav-list {
    width: 300px;
  }
  .nav-menu.active {
    top: 4.9em;
  }
  .nav-item {
    margin: 2.5rem 0;
  }
  .tombol-btn {
    margin: 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    margin-right: 2em;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  /* animation responsive navbar */
  li::after {
    content: '  ';
    width: 0%;
    height: 2px;
    margin-top: 5px;
    background-color: white;
    transition: all 0.3s ease;
  }

  li:hover::after {
    content: '  ';
    width: 25%;
    height: 2px;
    background-color: white;
  }
  .nav-list:hover {
    color: white;
    transform: rotate(0deg);
  }
  .card {
    flex-direction: column;
  }

  .card-item {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  /*Styling Navbar*/

  .nav-menu {
    display: flex;
    align-items: center;
    position: fixed;
    top: -100%;
    right: 0;
    flex-direction: column;
    background-color: rgb(167, 9, 9);
    width: 100%;
    text-align: center;
    transition: all 0.5s ease-in-out;
    padding: 1rem;
    z-index: -10;
  }
  .nav-list {
    width: 300px;
  }
  .nav-menu.active {
    top: 4.9em;
  }
  .nav-item {
    margin: 2.5rem 0;
  }
  .tombol-btn {
    margin: 0;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    margin: 2em;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  /* animation responsive navbar */
  li::after {
    content: '  ';
    width: 0%;
    height: 2px;
    margin-top: 5px;
    background-color: white;
    transition: all 0.3s ease;
  }

  li:hover::after {
    content: '  ';
    width: 25%;
    height: 2px;
    background-color: white;
  }
  .nav-list:hover {
    color: white;
    transform: rotate(0deg);
  }
  /*Styling card*/
  .card {
    flex-direction: column;
  }

  .card-item {
    width: 100%;
  }
}
